body {
    background-color: #42f4ce;
}
h4 {
    font-style: italic;
}    
h1 {
    font-family: cursive;
    color: #ffffff;
    background-color: #756e6e;
}
.background {
    background-color: #42f4ce;
}
